body {
    margin: 0;
    background: rgb(219, 219, 219);
    font-family: 'Raleway', sans-serif; color: #292525;
    text-align: justify;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container {
    width: 900px;
    margin: 0 auto;
}

.profile {
    text-align: center;
    margin-bottom: 10px;
}

.foto-principal {
    width: 200px;
    border: 3px solid #050458;
    border-radius: 50%;
    margin: 30px 30px 0;
    box-shadow: 0px 0px 25px rgb(9, 9, 73);
}

h1 {
    font-family: 'PT Sans Narrow', sans-serif;
    margin: 10px 0 0;
    letter-spacing: -1px;
}

h2 {
    margin-top: 0px;
    font-style: italic;
    color: #646161;
    font-weight: 100;
    letter-spacing: -1px;
}

h4 {
    margin-bottom: 5px;
}

h5 {
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: 100;
    font-style: italic;
}

ul li p {
    margin-top: 0;
}

.semlink {
    text-decoration: none;
}

.links {
    width: 25px;
}

.github {
    margin: 0 15px;
}

.jobs-list {
    padding-left: 20px;
    list-style: none;
}

footer {
    background: black;
    margin-top: 40px;
    color: white;
    text-align: center;
    padding: 10px 0;
}