body {
    background: rgb(219, 219, 219);
    font-family: 'Raleway', sans-serif;    color: #292525;
}
.container {
    width: 900px;
    margin: 0 auto;
}

.foto-principal {
    width: 200px;
    border: 2px solid #050458;
    border-radius: 50%;
    margin: 30px;
    box-shadow: 0px 0px 10px rgb(9, 9, 73);
}

h1 {
    font-family: 'PT Sans Narrow', sans-serif;
    margin-bottom: 0px;
    letter-spacing: -1px;
}

h2 {
    margin-top: 0px;
    font-style: italic;
    color: #646161;
    font-weight: 100;
    letter-spacing: -1px;
}

