* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.exemplo {
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
}

.exemplo1 p.red {
    color: red;
}

.margin {
    margin: 50px;
}

h1, h2, h3 {
    color: blue;
}

.exemplo2 > p {
    color: blue;
}

.exemplo3 + p {
    color: red;
}

.exemplo4 ~ p {
    color: rgb(0, 204, 255);
}
