body {
    background: rgb(219, 219, 219);
}

.foto-principal {
    width: 200px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    margin: 30px;
    padding: 2px;
}

p {
    color: #292525;
}