* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(221, 221, 221);
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: black;
  box-shadow: 0 0 10px black;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo {
  color: white;
  text-transform: lowercase;
  letter-spacing: -3px;
}
.logo span:first-child {
  color: #1d52ff;
}
.logo span:last-child {
  font-size: 12px;
  letter-spacing: normal;
}

.menu {
  display: flex;
  list-style: none;
}

.menu li {
  position: relative;
}
.menu li a {
  text-decoration: none;
  padding: 17px;
  font-size: 14px;
  color: white;
  display: block;
}

.menu > li:hover {
  background-color: #1d52ff;
}

.menu > li:hover > .submenu,
.submenu > li:hover > .submenu {
  display: block;
}

.submenu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  background-color: #1d52ff;
  text-decoration: none;
  list-style: none;
  min-width: 110%;
}

.submenu li:hover {
  background-color: #1338b0;
}

.submenu li {
    position: relative;
}

.submenu li .submenu {
    top: 0;
    left: 100%;
}