* {
   margin: 0;
   padding: 0; 
   box-sizing: border-box;
}

body{
    font-family: Tahoma, Verdana, sans-serif;
}

.header {
    background-image: url(/img/background.jpg);    
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 50px 0;
    font-size: 40px;
    border-radius: 45px 45px 0 0;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    margin: 10px;
}

.header h1 {
    font-size: 35px;
    color: rgb(30, 0, 138);
}

.logo {
    width: 200px;
}

.somos {
    width: 450px;
}

.container {
    display: flex;
}

.navbar {
    width: 30%;
    background: #a5d8fa;
    padding: 30px;
    margin: 0 10px 10px;
    border-radius: 0 0 0 45px;
    box-shadow: 0 0 10px black;    
}
.navbar ul {
    list-style: none;
}


.navbar ul li a {
    display: block;
    color: rgb(26, 0, 143);
    background: #9fe3f8;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    margin: 10px 25%;
    border-radius: 0 20px;
    box-shadow: 0 0 3px black;

}

.content {
    width: 70%;
    background: #9fe3f8;
    padding: 30px;
    margin: 0 10px 10px 0;
    border-radius: 0 0 45px 0;
    box-shadow: 0 0 10px black;
}

.footer {
    background-color: rgb(190, 230, 253);
    text-align: center;
    padding: 20px 0;
    margin: 0 10px;
    border-radius: 45px 45px 0 0;
    box-shadow: 0 0 10px black;
}